{% extends 'base.html' %}

{% block content %}
    <!-- Create poll link is available only for registered users -->
    {% if request.user.is_authenticated %}
    <a href="create_poll">Create poll</a>
    {% endif %}

    {% if latest_question_list %}
        <ul>
            <p>Latest questions:</p>
            {% for q in latest_question_list %}
                <li><i>(published on {{ q.pub_date }} by {{ q.author }})</i>
                    <a href="{% url 'polls:view_question' q.id %}">{{ q.text }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls available</p>
    {% endif %}
{% endblock %}